LDAP contact support

Add support to the contacts module to allow remote read-only addresses from an LDAP server. This will require an ini file for the LDAP server configuration details.

Thank you so much for that, Jason.
Actually, squinting at RoundCubeMail's functionality in the respect, it may make sense to have read AND write access to the LDAP address book, in line with permissions set in the OpenLDAP configuration. This way, we can have a centrally controlled "corporate" address book as well as private, editable one for each user, all in OpenLDAP. (This can then work well with LDAP-based knowledge management systems, and such, and Cypht would be a possible private address book management tool.)
Thoughts? Thanks a lot, indeed,
Chris

Makes perfect sense :) For a first step, I'm building read-only support in a similar way we get access to gmail contacts. After that I will address the ability to add/edit/delete (hopefully in a way that facilitates other remote contact store editing). Also this way you can test the read-only bits first to make sure I'm on the right track. I already have raw read-only access coded locally, I just need to parse the results and shove them in the local contact store code and they should be available!

One thing to note, the Cypht contact module has local contacts, and currently it's not configurable (you can disable all contacts, but not just the local contacts. If your intent is to use ldap to replace that, I might need to add the ability to disable local contact management).

Another thought - contacts currently are VERY simple, just a display name, E-mail address, and phone number. I'm assuming if we are going to support a robust contact storage mech like LDAP, we will need to expand that to other fields. I'm curious if you have a list of fields you would like to see supported?

Well, here is a good start! Very simple LDAP based read-only contact support: https://github.com/jasonmunro/hm3/commit/a344adfa78892b8292087021f7eef198f170a167
This requires that a ldap.ini file be configured and placed in the "app path".  More info about setting module specific ini files can be found in section 6 here:

https://cypht.org/install.html

Currently we only support anonymous bind or using hard coded values - these are not tied to a user account, so that will be something additional to add. If you get a chance to test this out, it would be greatly appreciated!

Dear Jason,
Thanks a lot, indeed! I will test asap - will be out of the reach of the Gods of the Internet intermittently. 
Just a thought: Woud it make sense to let OpenLDAP "dictate" whether address book trees are r/o or rw? Going further: Would it be possible to actually make OpenLDAP throw a list of address book fields at us, form where the user can select those that s/he wants to use (ro mode) or populate (r/w mode)? This would be more useful than hardcoding fields - you know how flexible OpenLDAP directories can be!
More soonest - and thank you very much!
Chris

>Would it be possible to actually make OpenLDAP throw a list of address book fields at us, form where the user can select those that s/he wants to use (ro mode) or populate (r/w mode)? This would be more useful than hardcoding fields - you know how flexible OpenLDAP directories can be!

This sound like the best idea (among other things completely avoding future maintenance of a hard-coded list of fields).

I agree that it sounds like a great idea, but there are some complications with that approach:

- I'm not seeing any way to fetch the schema for an addressbook without actually analyzing an existing entry, which means we can't create an "add entry" form dynamically if the addressbook is empty.

- Module sets, by design, don't have access to user input directly. They must define the name and type of any data coming from the user. The framework then filters/sanitizes input using these definitions before module sets have access to it. To make matters worse, the list of allowed input is pre-calculated by the config gen script, it's not possible for a module set to modify them at run-time. This is an important aspect of module set security. By forcing module sets to type user input, it becomes impossible for one to pluck an arbitrary unsanitized value from the request and do something nasty with it, even accidentally (after the filtering is done, all "super globals" are emptied out, forcing module sets to use sanitized values).

- Lastly, dynamically generated forms tend to be less than an ideal user experience. Either the form ends up so generic that it does not take advantage of specific input types, or it requires so much boiler plate to enhance it that becomes more work than just hard-coding the thing.

I think building forms around the inetOrgPerson schema (https://tools.ietf.org/html/rfc2798) is the best way to go for now. This appears to be pretty standard for addressbook entries (it also appears to be what roundcube uses).



Dear Jason,

Thanks a lot for your comments; sorry for my sluggish reply. Some 
thoughts how we might solve this catch-22:

inetPrgPerson schema is a perfect default.

I have the following schema activated: inetOrgPerson, qmailUser for 
(guess what) Qmail users, extensibleObject for security questions. I use 
Self Service Password from the LDAP Tool Box, which allows to have this 
security question feature: 
http://ltb-project.org/wiki/documentation/self-service-password. This is 
necessary to accommodate those users that do not have an e-mail 
account... The qmailUser schema allows to set quota, Maildirs, etc - 
useful for mail admins and NOT required to be accessible from within the 
webmail client, but also aliases - something useful at the end user 
level. Other mail servers may require extra schemes possibly...

What do you think?

Have a great weekend,

Chris




On 15/07/16 19:56, Jason Munro wrote:
>
> I agree that it sounds like a great idea, but there are some 
> complications with that approach:
>
>  *
>
>     I'm not seeing any way to fetch the schema for an addressbook
>     without actually analyzing an existing entry, which means we can't
>     create an "add entry" form dynamically if the addressbook is empty.
>
>  *
>
>     Module sets, by design, don't have access to user input directly.
>     They must define the name and type of any data coming from the
>     user. The framework then filters/sanitizes input using these
>     definitions before module sets have access to it. To make matters
>     worse, the list of allowed input is pre-calculated by the config
>     gen script, it's not possible for a module set to modify them at
>     run-time. This is an important aspect of module set security. By
>     forcing module sets to type user input, it becomes impossible for
>     one to pluck an arbitrary unsanitized value from the request and
>     do something nasty with it, even accidentally (after the filtering
>     is done, all "super globals" are emptied out, forcing module sets
>     to use sanitized values).
>
>  *
>
>     Lastly, dynamically generated forms tend to be less than an ideal
>     user experience. Either the form ends up so generic that it does
>     not take advantage of specific input types, or it requires so much
>     boiler plate to enhance it that becomes more work than just
>     hard-coding the thing.
>
> I think building forms around the inetOrgPerson schema 
> (https://tools.ietf.org/html/rfc2798) is the best way to go for now. 
> This appears to be pretty standard for addressbook entries (it also 
> appears to be what roundcube uses).
>



@jasonmunro good points, I'll try to mention some of my findings.

* Regarding the first point, LDAP got widespread for the sole reason, that it didn't dictate any content nor schema. Modern RFCs though define a good subset of widely-deployed schemas. The downside is, that these schemes are quite huge (RFC2798 and it's superseeding RFC4524) - see the globally registered list of "parameters" maintained by IANA https://www.iana.org/assignments/ldap-parameters/ldap-parameters.xhtml (as mentioned in RFC4520). Either way, I would consider LDAP without schema or without any example/existing LDAP objects as empty - i.e. without schema and thus showing the user just a message "No personal information available from LDAP.".

* With regards to secure module design, I'm not sure if the mentioned limitation applies also to the "inner" schema construction as I didn't meant anything with UI interaction, but just plain schema fetch from an LDAP server without giving a Cypht user any other than read-only permission on LDAP schemas. In my opinion, Cypht shouldn't serve as LDAP-administration tool, but rather as a as simple as possible LDAP object reader, presenter and limited editor (add/copy/remove whole `person` objects; edit existing fields; no adding of object fields; no add/copy/remove on other types of objects, no addition of unspecified new objects, nothing...).

* Dynamically generated forms are not ideal, but in this case we should probably rather consider the whole purpose of LDAP - be useful on places (organizations, companies, huge corporations, etc.), where just getting the information is way more important than the form of handing over to the user.

Overview of usual schemas in LDAP: http://www.zytrax.com/books/ldap/ch3/#schemas . It's probably not standardized (I didn't check it), but seems to be widespread.

Thanks a lot, Jason.

A good way to get this going may well be to just start implementing the 
inetOrgPerson scheme. Looking at the faclitiies offered by SquirrelMail 
and other "old hands", alias display (r/o records) or management (r/w 
management) is not a bad thing to find in a webmail client. Quota 
display is, of course great, but can be done via IMAP. We can always 
expand features, once usability of a core set of features has been 
experienced.

Having said this, I have not even had a chance to try your r/o version, 
because internet is atrocious. Will, of course, do asap. Apologies 
therefore for my entirely theoretical remarks!

BTW, the link you sent on usual LDAP schemas looks pretty much standard 
and familiar - great stuff to use as reference.
Thanks a lot!

Chris


On 16/07/16 16:44, dumblob wrote:
>
> @jasonmunro <https://github.com/jasonmunro> good points, I'll try to 
> mention some of my findings.
>
>  *
>
>     Regarding the first point, LDAP got widespread for the sole
>     reason, that it didn't dictate any content nor schema. Modern RFCs
>     though define a good subset of widely-deployed schemas. The
>     downside is, that these schemes are quite huge (RFC2798 and it's
>     superseeding RFC4524) - see the globally registered list of
>     "parameters" maintained by IANA
>     https://www.iana.org/assignments/ldap-parameters/ldap-parameters.xhtml
>     (as mentioned in RFC4520). Either way, I would consider LDAP
>     without schema or without any example/existing LDAP objects as
>     empty - i.e. without schema and thus showing the user just a
>     message "No personal information available from LDAP.".
>
>  *
>
>     With regards to secure module design, I'm not sure if the
>     mentioned limitation applies also to the "inner" schema
>     construction as I didn't meant anything with UI interaction, but
>     just plain schema fetch from an LDAP server without giving a Cypht
>     user any other than read-only permission on LDAP schemas. In my
>     opinion, Cypht shouldn't serve as LDAP-administration tool, but
>     rather as a as simple as possible LDAP object reader, presenter
>     and limited editor (add/copy/remove whole |person| objects; edit
>     existing fields; no adding of object fields; no add/copy/remove on
>     other types of objects, no addition of unspecified new objects,
>     nothing...).
>
>  *
>
>     Dynamically generated forms are not ideal, but in this case we
>     should probably rather consider the whole purpose of LDAP - be
>     useful on places (organizations, companies, huge corporations,
>     etc.), where just getting the information is way more important
>     than the form of handing over to the user.
>
> —
> You are receiving this because you commented.
> Reply to this email directly, view it on GitHub 
> <https://github.com/jasonmunro/hm3/issues/97#issuecomment-233131032>, 
> or mute the thread 
> <https://github.com/notifications/unsubscribe-auth/ACvwTUoN7lt87YgEAXDWZkCCHA3q2-mQks5qWOAvgaJpZM4JMz_o>.
>

-- 
Dr Christoph H. Larsen
synaLinQ
296/33 Lương Định Của, Ngọc Hội 2, Vĩnh Ngọc
Nha Trang, Khánh Hòa, Việt Na
Mobile:	+84-98-9607357 (Vietnam)
	+254-776-588224 (Kenya)
	+256-778-121305 (Uganda)
	+49-176-96456254 (Germany)
Fax:	+49-231-292734790
E-mail:	christoph.larsen@synalinq.com
Skype:	christoph.larsen



@chlarsen and @dumblob, thanks for the great feedback! I have a plan to move forward with this.

First thing I'm going to do, is split the contacts module set up. There will be a contact module set, and module set "backends" that can be enabled. The contacts set will only setup the pages and menu entries, and enabled backend sets will populate the contacts for these views/features. All the backends can be enabled at once, or just the ones you want (but at least one needs to be enabled). The breakdown of module sets will be:

contacts
local_contacts
gmail_contacts
ldap_contacts

For the ldap_contacts backend I'm going to build simple management stuff around the intorgperson schema, but in such a way that it will be easy to customize. One of the goals of the module set system is to be able to modify the behavior of the program without having to hack any existing code, so I'm going to leverage this for custom contact fields. This design will give us pretty standard support out of the box, but also mirror the flexibility of ldap by making it easy to add/remove fields from entries.

We also need to add support for per user binding, and multiple ldap sources, but that will come after the basic management features, and shouldn't be too hard to add if I build the rest properly :)

Dear Jason,

Thank you again for your mail. Modular approach - terrific! This would 
actually enable us to go one (very popular) step further, time and 
resources permitting:

contacts
local_contacts
gmail_contacts (am staying away form that one given the sensitivity of 
health-related records)
ldap_contacts
CardDAV_contacts (I am using radicale presently, but may have to go for 
sth easier to the eye for non-suspecting sub-admins :-) )

Of course, all of this step by step, but I have become a friend of 
DAVDroid on my Android phone, as I could actually do away with Dr Google 
completely that way...
Thoughts?

A huge thank you from Nairobi!

Chris


On 17/07/16 21:45, Jason Munro wrote:
>
> @chlarsen <https://github.com/chlarsen> and @dumblob 
> <https://github.com/dumblob>, thanks for the great feedback! I have a 
> plan to move forward with this.
>
> First thing I'm going to do, is split the contacts module set up. 
> There will be a contact module set, and module set "backends" that can 
> be enabled. The contacts set will only setup the pages and menu 
> entries, and enabled backend sets will populate the contacts for these 
> views/features. All the backends can be enabled at once, or just the 
> ones you want (but at least one needs to be enabled). The breakdown of 
> module sets will be:
>
> contacts
> local_contacts
> gmail_contacts
> ldap_contacts
>
> For the ldap_contacts backend I'm going to build simple management 
> stuff around the intorgperson schema, but in such a way that it will 
> be easy to customize. One of the goals of the module set system is to 
> be able to modify the behavior of the program without having to hack 
> any existing code, so I'm going to leverage this for custom contact 
> fields. This design will give us pretty standard support out of the 
> box, but also mirror the flexibility of ldap by making it easy to 
> add/remove fields from entries.
>
> We also need to add support for per user binding, and multiple ldap 
> sources, but that will come after the basic management features, and 
> shouldn't be too hard to add if I build the rest properly :)
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub 
> <https://github.com/jasonmunro/hm3/issues/97#issuecomment-233197146>, 
> or mute the thread 
> <https://github.com/notifications/unsubscribe-auth/ACvwTY7cuL8PQ_LQak3eATvAoXFxEBUaks5qWnhfgaJpZM4JMz_o>.
>



Phase 1 of splitting the contacts module set up is mostly done. I still need to tweak the local contact management features to play nice with other contact backends that will have editing enabled, but it's a good start. We can now disable/enable local/gmail/ldap contacts independently of each other.

Absolutely terrific. Thank you!

Chris


On 19/07/16 00:44, Jason Munro wrote:
>
> Phase 1 of splitting the contacts module set up is mostly done. I 
> still need to tweak the local contact management features to play nice 
> with other contact backends that will have editing enabled, but it's a 
> good start. We can now disable/enable local/gmail/ldap contacts 
> independently of each other.
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub 
> <https://github.com/jasonmunro/hm3/issues/97#issuecomment-233468486>, 
> or mute the thread 
> <https://github.com/notifications/unsubscribe-auth/ACvwTYz83UOWPPZcn-1ZDljTWNNzCSl7ks5qW_OzgaJpZM4JMz_o>.
>



UPDATE: multiple back end editing issues are fixed, and I just used the code to add an LDAP contact! WOOT! I still need to finish editing and deleting,but it's getting closer!

GREEEEAT!!!!!




Initial versions of delete and edit contact are done!

There is definitely more to test/tweak, but so far so good :). Next I will add support for adding from the message view, just like for local contacts (I already updated the UI, but there is no process to actually do the add from that context yet), then I need to test the field set in the form to make sure I didn't typo anything (and updated the HTML elements to more specific types than just "test" for fields that are more restricted). After that, the last thing is expanding support for more than one LDAP store and to tie the user login to the bind process.

As for customizing, I built the form of individual modules for each field, so using the "site" module set, you can disable any fields you don't want (or add one that does not exist). If you need to muck around with field names because of differences in schema, there is a single module that takes the add/edit form data and coerces into an LDAP entry. This too can be overridden in the site module set to tweak any of the field names (and would need to be overridden if new fields are added).

So to summarize the customization options:

This makes it possible to customize the add/edit form for a specific setup without having to modify any core code. It's not super simple like creating an array, you will need to create some site specific code, but it's also not too difficult. This is one of the big reasons the module system is designed the way it is. it's not unlike the way django manages middleware, if anyone is familiar with that, though even more powerful in some respects since it applies to the entire application and not just middleware functionality.

Great news! Once I have an access to some LDAP server (hm, maybe I should run it myself), I'm happy to test it.

Dear Jason,

I am swamped by work presently, but will install and test asap. It is 
actually part of the installation work here :-).

Kindly bear with me! Huge thanks!

Chris


On 22/07/16 09:44, dumblob wrote:
>
> Great news! Once I have an access to some LDAP server (hm, maybe I 
> should run it myself), I'm happy to test it.
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub 
> <https://github.com/jasonmunro/hm3/issues/97#issuecomment-234466942>, 
> or mute the thread 
> <https://github.com/notifications/unsubscribe-auth/ACvwTekb8FcHZXoF__ez_dsFo4EHA3drks5qYGaxgaJpZM4JMz_o>.
>

-- 
Dr Christoph H. Larsen
synaLinQ
296/33 Lương Định Của, Ngọc Hội 2, Vĩnh Ngọc
Nha Trang, Khánh Hòa, Việt Nam
Mobile:	+84-98-9607357 (Vietnam)
	+254-776-588224 (Kenya)
	+256-778-121305 (Uganda)
	+49-176-96456254 (Germany)
Fax:	+49-231-292734790
E-mail:	christoph.larsen@synalinq.com
Skype:	christoph.larsen



Chris,
No worries about the time frame. Whenever you get a chance to test is great. In the meantime I am continuing to add features! :) Yesterday I added a flag to set the ldap backend as read-only/read-write, and I moved the objectclass definition to the ini file for easier customization. I have 2 things left to do (that I know of):

1. improve the ini file to use sections so you can define multiple ldap backends, each with their own set of properties. Hoping to knock this out today.

2. Make it possible to do per-user-binding. I'm not sure how I want to do this just yet. I could try to use the user login info to bind (but we don't store the raw password used to auth to cypht for obvious reasons, so that is an issue). I may just add options to the settings page for users to enter their "addressbook username and password". Any feedback on what would work for you here would be appreciated!

Thanks

Multiple LDAP backend support is committed, and I added some comments to the ldap.ini file to explain the options (though they are pretty straightforward for anyone who has configured an LDAP server).

This is terrific news. I will dig in as soon as I ever can.
Warm regards from Kenya,

Chris



Initial per-user binding support is in. For any LDAP backend defined in the ldap.ini file that has "auth" set to true, but leaves user and pass unset, the user will have an option on the Settings -> Site page to fill out the username and password based on the name from the ini file. The username is automatically formatted (cn=username,<base_dn>), so you only need to enter the cn portion.